* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 30%;
    border-right: 1px solid #ccc;
    padding: 16px;
}

.event-details {
    width: 70%;
    padding: 16px;
}
